* {
    font-family: Helvetica, Arial;
}

body {
    padding: 60px;
}

input {
    width: 100%;
    font-size: 1.2rem;
    color: gray;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
}

.card {
    padding: 16px;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 4px lightgray;
}

.card img {
    max-height: 160px;
}